@*
   Page to see all the authors in the Database
*@
@model List<Author>

    <a asp-action="AddAuthor" asp-controller="Book" class="btn btn-primary">Add new Author</a>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Author Name</th>
        </tr>
    </thead>
    <tbody>        
            @foreach(var author in Model)
            {
                <tr><td>@author.AuthorName</td></tr>
            }        
    </tbody>

</table>
