@model Author

@{
    ViewData["Title"] = "Delete Book";
}

<h2 claxs="text-white">Confirm Delete</h2>
<h3 claxs="text-white">@Model.AuthorName</h3>

<form asp-action="DeleteAuthor" method="post">
    <input type="hidden" asp-for="AuthorId" />

    <button type="submit" class="btn btn-primary">Delete</button>
    <a asp-controller="Book" asp-action="Index" class="btn btn-primary">Cancel</a>
</form>