@model BookDatabase.Models.BookViewModel

<h1>Book Database</h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var book in Model.Books)
        {
            <tr>
                <td>@book.Title</td>
                <td>@foreach(var author in book.Authors)
                    {
                        <span>@author.AuthorName </span>
                    }
                </td>
                <td>@Model.GetGenre(book.GenreId)</td>
                <td>@Model.GetStatus(book.StatusId)</td>
            </tr>
        }
    </tbody>
</table>