@model BookDatabase.Models.BookViewModel

<h1>Book Database</h1>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var book in Model.Books)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Authors.ToString()</td>
                <td>@book.Genre.ToString()</td>
                <td>@book.Status.ToString()</td>
            </tr>
        }
    </tbody>
</table>